<div id="status-panel" class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-body panel-success">All systems are operational</div>
        </div>
    </div>
</div>
<div id="information-panel" class="row">
    <div class="col-md-12">
        <b>What is this site?</b>
        <hr />
        This is a status page to learn AngularJS and serverless architecture. The site continuously monitors a service which generates fake data to show in the metrics screen.
        <br />
        <br />
    </div>
</div>
<div id="status-history-panel" class="row">
    <div class="col-xs-12">
        <b>2016-10-11</b>
        <hr />
        <div class="col-xs-3" style="padding:0px;">
            2016-10-12 18:12:02.000 +000
        </div>
        <div class="col-xs-9" style="padding:0px;">
            <div class="status-message-good">
                THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT 
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <b>2016-10-11</b>
        <hr />
        <div class="col-xs-3" style="padding:0px;">
            2016-10-12 18:12:02.000 +000
        </div>
        <div class="col-xs-9" style="padding:0px;">
            <div class="status-message-minor">
                THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT 
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <b>2016-10-11</b>
        <hr />
        <div class="col-xs-3" style="padding:0px;">
            2016-10-12 18:12:02.000 +000
        </div>
        <div class="col-xs-9" style="padding:0px;">
            <div class="status-message-major">
                THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT THIS IS CONTENT 
            </div>
        </div>
    </div>        
</div>